.react-grid-Cell:first-child {
  background-color: #f9f9f9;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.react-grid-HeaderCell {
  font-weight: 400;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
